<h1>Cor-cab</h1>

<mat-icon matPrefix>search</mat-icon>
<form [formGroup]="form" class="form">
  <mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepickerFilter]="myFilter" #ref [matDatepicker]="picker" formControlName="date"
           (dateChange)="findDeliveryHours(ref.value)">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</form>
<table class="table table-bordered">
  <thead>
  <tr>
    <th> Deliveryhour</th>
    <th> CourierPackage id</th>
    <th> Client name</th>
    <th> Dontdisturb</th>
    <th> Adress</th>
    <th> DeliveryTime</th>
    <th>Price</th>
    <th>Checked</th>
    <th>Description</th>
    <th>More</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let courierPackage of courierpackages" ng-repeat>
    <td>{{courierPackage.hour}}</td>
    <td>{{courierPackage.id}}</td>
    <td>{{courierPackage.username}}</td>
    <td><input type="checkbox" [disabled]="true" [checked]="courierPackage.dontdisturb == 't'"/></td>
    <td>{{courierPackage.fulladdress}}</td>
    <td>{{courierPackage.deliverytime}}</td>
    <td>{{courierPackage.totalprice}}</td>
    <td><input type="checkbox" [checked]="courierPackage.orderstatus == 'DELIVERED'"
               (click)="setNewStatus( courierPackage.id ,courierPackage.orderstatus , courierPackage.deliverytime ) "/>
    </td>
    <td>{{courierPackage.packagedescription}}</td>
    <td>
      <button class="btn btn-lg " mat-button (click)="onCreate()">Description
        <mat-icon matSuffix>add_circle_outline</mat-icon>
      </button>
    </td>


  </tr>

  </tbody>
</table>


